.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 16px; /* space between items vertically */
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .my-masonry-grid {
    margin-left: -12px;
  }

  .my-masonry-grid_column {
    padding-left: 12px;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .my-masonry-grid {
    margin-left: -8px;
  }

  .my-masonry-grid_column {
    padding-left: 8px;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 8px;
  }
}
